.heading {
    font-size: 35px ;
    font-weight: bolder;
    text-transform: uppercase;
}
.intro {
     background-color: #2F5A78;
     color: white;
     padding-left: 16px;
     padding-bottom: 8px;
     margin-bottom: 4px;
}
body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif; 
    
}

.prof {
    font-size: 20px;
    font-weight: lighter;
}

.contactinfo{
    font-size: 15px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eeeeee;
    line-height: 20px;
}
.subheading{
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
    text-transform: uppercase;
    padding-left: 16px;
} 

progress{
     margin-left: 10px;
}

.icon{
    color: #2F5A78;
    float: left;
}

.sololearn{
    margin-left: 20px;
}

img{
    float: right;
}

.date{
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
} 
.social{
    padding-left: 16px;
     
}

.skills ul li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
} 
.skills ul li .skill_prog{
    width: 60%;
    height: 5px;
    position: relative;
}
.skills ul li .skill_prog span{
    position: absolute;
    height: 100%;   
    background: #2F5A78;
    padding-right: 50px;
}

.skill_name{
    width: 4px;
}
.skill_per{
    margin-right: 15px;
} 
